<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO">
    <Appenders>
        <!-- Console Appender -->
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout
                pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - $class.%M:%L -  %msg%n" />
        </Console>

        <!-- Rolling File Appender -->
        <RollingFile name="File" fileName="/home/devops/tmp/smashfinance-app/logs/application.log"
            filePattern="/home/devops/tmp/smashfinance-app/logs/smashfinance-app-%d{MM-dd-yyyy}.log">
            <PatternLayout
                pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - $class.%M:%L -  %msg%n" />
            <Policies>
                <SizeBasedTriggeringPolicy size="50 MB" />
            </Policies>
            <DefaultRolloverStrategy max="10" />
        </RollingFile>
    </Appenders>

    <Loggers>
        <!-- Root Logger -->
        <Root level="info">
            <AppenderRef ref="Console" />
            <AppenderRef ref="File" />
        </Root>
    </Loggers>
</Configuration>