attrs==23.2.0
beautifulsoup4==4.12.3
cattrs==23.2.3
certifi==2024.7.4
charset-normalizer==3.3.2
exceptiongroup==1.2.2
frozendict==2.4.4
greenlet==3.0.3
html5lib==1.1
idna==3.7
lxml==5.2.2
multitasking==0.0.11
numpy==2.0.1
pandas==2.2.2
peewee==3.17.6
platformdirs==4.2.2
psycopg2==2.9.9
pyrate-limiter==2.10.0
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
pytz==2024.1
PyYAML==6.0.1
requests==2.32.3
requests-cache==1.2.1
requests-ratelimiter==0.7.0
six==1.16.0
-e git+ssh://git@github.com/bobbydang/smashfinance-app.git@0da07b046bb60107821f5a026f23afc6290da8fc#egg=smashfinance_common&subdirectory=src/python/utils/smashfinance_common
soupsieve==2.5
SQLAlchemy==2.0.31
SQLAlchemy-Utils==0.41.2
typing_extensions==4.12.2
tzdata==2024.1
url-normalize==1.4.3
urllib3==2.2.2
webencodings==0.5.1
yfinance==0.2.41
